.form-section {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2E2F42;
}

.feedback-form input,
.feedback-form textarea {
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  border: 1px solid #808080;
  border-radius: 4px;
  box-sizing: border-box;
  color: #2E2F42;
}

.feedback-form textarea {
  height: 80px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 1px solid #000000;
}

.feedback-form input:active,
.feedback-form textarea:active {
  border: 1px solid #808080;
}

.feedback-form button {
  width: 95px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  border-radius: 8px;
  background-color: #4E75FF;
  color: #fff;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #6C8CFF;
}
